# BSC RPC Endpoint
BSC_RPC_URL=https://bsc-dataseed1.binance.org/

# Transaction details (optional - can also be passed as arguments)
FROM_ADDRESS=
TO_ADDRESS=
VALUE=
ORIGINAL_NETWORK=
TARGET_NETWORK=bsc-mainnet
PRIVATE_KEY=


