<!DOCTYPE html>
<html>
  <head>
    <title>4EVERChat - 4EVERLAND AI Playground</title>

    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="AI chat, Multi-model chat, AI conversation platform, 4EVERChat, 4EVERLAND, AI model selection"
    />
    <meta
      name="description"
      content="Experience 4EVERChat, the innovative AI chat platform integrating over 100 models. Choose freely and converse simultaneously with various AI models for unparalleled interaction."
    />

    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" type="image/ico" href="favicon.ico" />
    <script src="/js/localforage.min.js"></script>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-BYMBD4R307"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-BYMBD4R307");
    </script>
  </head>

  <body>
    <!-- quasar:entry-point -->
    <script src="/js/download.js"></script>
  </body>
</html>
