# BSC RPC Endpoint
BSC_RPC_URL=https://bsc-dataseed1.binance.org/

# Transaction hash to monitor (optional - can also be passed as argument)
# If not provided, the server will start by default
TX_HASH=

# Server port (default: 3000)
PORT=3000


