# BSC RPC Endpoint
BSC_RPC_URL=https://bsc-dataseed1.binance.org/

# Contract address to analyze (optional - can also be passed as argument)
# If not provided, the server will start by default
CONTRACT_ADDRESS=

# Contract type (optional - ERC20, ERC721, ERC1155, UNISWAP_V2, UNISWAP_V3)
CONTRACT_TYPE=

# Server port (default: 3000)
PORT=3000

