# BSC RPC Endpoint
BSC_RPC_URL=https://bsc-dataseed1.binance.org/

# Contract address to analyze (optional - can also be passed as argument)
CONTRACT_ADDRESS=

# Event type (Transfer or Approval, default: Transfer)
EVENT_TYPE=Transfer

# From block number (default: 0)
FROM_BLOCK=0

# To block number (default: latest)
TO_BLOCK=latest

# Server port
PORT=3000

